@import "../../../../layout-global";


.logo-container {
  display: flex;

  .logo-item {
    display: flex;
    align-items: center;
    height: @header-height;

    .logo-img {
      margin-left: 24px;
      height: 32px;
    }

    .logo-banner {
      height: 32px;
      overflow: hidden;
      margin-bottom: 0;
      padding-left: 16px;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 600;
      font-family: Arial;
    }
  }
}

/*
下面是没有使用flex布局的logo样式
*/
//.logo {
//  position: relative;
//  height: 64px;
//  padding-left: 24px;
//  line-height: 64px;
//  overflow: hidden;
//  background: rgb(0, 33, 64);
//
//  .logo-img {
//    display: inline-block;
//    height: 32px;
//    vertical-align: middle;
//    box-sizing: border-box;
//  }
//
//  .logo-banner-img {
//    height: 16px;
//    line-height: 64px;
//    position: relative;
//    top: 1px;
//    vertical-align: middle;
//    box-sizing: border-box;
//    color: white;
//  }
//
//  .logo-banner-txt {
//    display: inline-block;
//    color: rgb(255, 255, 255);
//    font-weight: 600;
//    font-size: 20px;
//    font-family: Arial;
//    vertical-align: middle;
//    margin: 0 0 0 12px;
//  }
//}




